@import url(https://fonts.googleapis.com/css?family=Montserrat:500,600);
.select-btn {
  background: #CFB995;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  border: 2px solid #CFB995;
  display: inline-block;
  width: 270px;
  margin-bottom: 10px; }

.help-btn {
  border: 2px solid #FFFFFF;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  display: inline-block;
  width: 270px; }

.last-cars-btn {
  background: #FF0000;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  border: 2px solid #FF0000;
  display: inline-block;
  width: 75%;
  margin-top: 15px;
  color: #FFFFFF; }

.better-offer-btn {
  width: 5%;
  min-width: 60px;
  cursor: pointer; }

@media screen and (max-width: 767px) {
  .help-btn {
    border: 2px solid #CFB995; } }

@media screen and (max-width: 1020px) {
  .last-cars-btn {
    width: 100%;
    font-size: 14px; } }

.topnav {
  overflow: hidden;
  width: 100%;
  z-index: 999;
  background: #FFFFFF;
  position: fixed;
  border-bottom: 1px solid #000000; }

.topnav a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 12px; }

.topnav .icon {
  display: none; }

.logo {
  float: left;
  padding: 15px;
  padding-left: 4%; }

.dropdown {
  float: right;
  overflow: hidden;
  padding-right: 4%; }

.dropdown .dropbtn {
  font-size: 12px;
  border: none;
  outline: none;
  color: #000000;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
  position: fixed;
  width: 100%;
  z-index: 999;
  background: #FFFFFF;
  margin-left: 50px;
  box-shadow: 0px 0px 0px #888, 0px 0px 5px #888; }

.dropdown-content a {
  float: none;
  color: #000000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 12px; }

.dropdown-content a:hover {
  background-color: #ddd;
  color: #000000; }

.dropdown:hover .dropdown-content {
  display: block; }

@media screen and (max-width: 767px) {
  .topnav a, .dropdown .dropbtn {
    display: none; }
  .topnav a.icon {
    float: right;
    display: block; }
  .no-mobile {
    display: none; }
  .vertical-line {
    display: none; }
  .dropdown {
    float: none; }
  .dropdown-content {
    margin-left: 0; } }

@media screen and (min-width: 767px) {
  a.cart {
    display: none !important; } }

@media screen and (max-width: 767px) {
  .topnav.responsive {
    position: fixed; }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0; }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    clear: both; }
  .topnav.responsive .dropdown {
    float: none; }
  .topnav.responsive .dropdown-content {
    position: fixed; }
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left; } }

/* Centered section inside the top navigation */
@media screen and (min-width: 851px) {
  .topnav-centered {
    float: none;
    position: absolute;
    top: 23px;
    left: 50%;
    transform: translate(-50%, -50%); } }

@media screen and (min-width: 768px) and (max-width: 850px) {
  .topnav-centered {
    float: none;
    position: absolute;
    top: 23px;
    left: 44%;
    transform: translate(-50%, -50%); } }

.divider {
  margin-left: 18px;
  margin-right: 20px; }

@media screen and (max-width: 1024px) {
  .dropdown {
    padding-right: 0; }
  .logo {
    padding-left: 15px; } }

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

html {
  font-family: 'Montserrat', sans-serif; }

body {
  margin: auto; }

[class*="col-"] {
  float: left;
  padding: 15px; }

.submit-offer {
  color: #000000;
  text-align: center;
  font-size: 32px;
  padding: 15px; }

/* For mobile phones: */
[class*="col-"] {
  width: 100%; }

@media only screen and (min-width: 768px) {
  .col-1 {
    width: 8.33%; }
  .col-2 {
    width: 16.66%; }
  .col-3 {
    width: 25%; }
  .col-4 {
    width: 33.33%; }
  .col-5 {
    width: 41.66%; }
  .col-6 {
    width: 50%; }
  .col-7 {
    width: 58.33%; }
  .col-8 {
    width: 66.66%; }
  .col-9 {
    width: 75%; }
  .col-10 {
    width: 83.33%; }
  .col-11 {
    width: 91.66%; }
  .col-12 {
    width: 100%; } }

.text-center {
  text-align: center; }

.no-padding {
  padding: 0; }

.float-left {
  float: left; }

.line {
  border: 1px solid violet;
  width: 25%;
  vertical-align: middle;
  margin-left: 15px;
  margin-right: 15px; }

.check-offer {
  border: 1px solid #3BB273;
  background: #3BB273;
  width: 18%;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  min-width: 130px;
  cursor: pointer;
  color: #FFFFFF; }

.score {
  padding: 15px;
  background: beige;
  width: 60px;
  text-align: center; }

.container {
  position: relative;
  text-align: left;
  color: #FFFFFF;
  vertical-align: top;
  line-height: 35px;
  font-size: 2rem; }

.color-red {
  color: #FF0000; }

.subtitle {
  margin-bottom: 30px;
  margin-top: 30px;
  font-size: 1.3rem; }

.inline-block {
  display: inline-block; }

.centered {
  text-align: center; }

.car-name-width {
  width: 218px;
  text-align: left; }

.top-offers {
  margin-bottom: 25px; }

.vehiculum-offers {
  margin-top: 25px;
  margin-bottom: 25px; }

.margin-bottom {
  margin-bottom: 60px; }

.align-left {
  text-align: left; }

.float-right {
  float: right; }

.padding-right {
  padding-right: 15px; }

.nav-text-center {
  margin-top: -10px;
  display: inline-block; }

.cursor-pointer {
  cursor: pointer; }

.flame-img {
  padding-right: 8px;
  padding-left: 15px;
  display: inline-block; }

@media screen and (min-width: 1501px) {
  .slick-slide {
    width: 300px !important; }
  .autoplay {
    width: 75% !important; } }

@media screen and (min-width: 1200px) and (max-width: 1500px) {
  .slick-slide {
    width: 280px !important; } }

@media screen and (max-width: 767px) {
  .mobile {
    color: #000000;
    text-align: center; }
  .flame-img {
    padding-left: 0px; }
  .mobile-center {
    text-align: center; }
  h2 {
    text-align: center; }
  .brands-width {
    width: 15%;
    min-width: 110px; }
  .ford-box {
    font-size: 12px !important; } }

@media screen and (min-width: 768px) {
  .text-over-image {
    position: absolute;
    top: 7vw;
    left: 4vw; }
  .brands {
    display: flex;
    justify-content: center; }
  .full-width {
    width: 100%; }
  hr.vertical-line {
    border: none;
    border-left: 1px solid #73848c;
    height: 32px;
    width: 0px;
    display: inline-block;
    vertical-align: middle; } }

@media screen and (max-width: 649px) {
  .line {
    display: none; } }

.autoplay {
  margin: auto; }

.vehicle-card {
  border: 1px solid #000000;
  padding: 15px;
  font-size: 10px;
  margin-right: 20px; }

.vehicle-image {
  width: 80%;
  margin: auto; }

.car-name {
  font-weight: bold; }

.underline {
  text-decoration: underline; }

.box {
  float: right;
  background: #d5fdd5;
  padding: 10px;
  text-align: center;
  width: 90px;
  line-height: 15px;
  margin-top: -37px;
  border-radius: 9px; }

.valid-offer {
  display: inline-block;
  margin-top: 15px; }

.brands-width {
  margin: auto; }

.header-image {
  margin-top: 48px;
  margin-bottom: 20px;
  padding: 0; }

@media screen and (max-width: 925px) {
  .model-text-center, .car-name {
    text-align: center;
    margin-bottom: 6px; }
  .box {
    float: none;
    margin: auto; } }

.ford-box {
  background: #FFFFFF;
  color: #000000;
  font-size: 1.3vw;
  margin-top: 10px; }

.score-box {
  float: right;
  background: #FFFFFF;
  padding: 10px;
  text-align: center;
  border-radius: 9px;
  color: #000000;
  font-size: 12px;
  margin-top: 25px;
  line-height: 15px; }

@media screen and (max-width: 575px) {
  .responsive-layout {
    width: 90% !important;
    margin: auto; } }

@media screen and (min-width: 575px) and (max-width: 1049px) {
  .responsive-layout {
    width: 50% !important;
    margin: auto; } }

@media screen and (min-width: 1050px) and (max-width: 1780px) {
  .responsive-layout {
    min-width: 44.66%; } }

.account-img {
  padding-left: 20px;
  margin-right: -10px;
  vertical-align: middle; }

.cart-img {
  vertical-align: middle;
  padding-right: 20px; }

.arrow-img {
  vertical-align: middle;
  padding-left: 6px; }

@media screen and (min-width: 1200px) {
  .ford-box {
    margin-top: 8%; }
  .text-over-image {
    top: 12vw; } }

@media screen and (min-width: 1021px) {
  .text-over-image-ford {
    position: absolute;
    color: #FFFFFF;
    margin-top: -10px;
    padding-left: 50px;
    width: 43vw; }
  .overlay {
    display: block;
    position: absolute;
    width: 100%;
    height: 100px;
    background: #000000;
    opacity: 0.7; } }

@media screen and (max-width: 1020px) {
  .score-box {
    background: #d5fdd5;
    float: none;
    width: 111px;
    margin: auto;
    margin-bottom: 10px; }
  .lower-res {
    float: none;
    text-align: center; }
  .ford-box {
    width: 100%; } }

@media screen and (max-width: 800px) {
  .text-resize {
    font-size: 0.9em; } }

